
react/node_modules
react/dist
react/.vscode

vue/node_modules
vue/dist
vue/.vscode

laravel/node_modules
laravel/public/hot
laravel/public/storage
laravel/storage/*.key
laravel/vendor
laravel.env
laravel.env.backup
laravel.phpunit.result.cache
laraveldocker-compose.override.yml
laravelHomestead.json
laravelHomestead.yaml
laravelnpm-debug.log
laravelyarn-error.log
laravel/.idea
laravel/.vscode
laravel/storage/*.gitignore